/*.registration_form {
    position : relative;
    width  : 740px;
    height : 498px;
    margin : 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background : rgb(0, 255, 157);
  
    
   display  : grid;
    grid-gap : 20px;
    grid-template-columns : repeat(2, 1fr);
    grid-template-rows    : 10em 1em 1em 1em;
  }*/


  

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

$font-family-sans-serif-2: 'Roboto', sans-serif;
$font-family-serif: 'Source Serif Pro', serif;
$font-family-sans-serif: 'Roboto', sans-serif;



body {
	font-family: $font-family-sans-serif;
	background-color: #f8fbfa;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-sans-serif;
    font-weight: 300;
    text-align: center;
}
a {
	transition: .3s all ease;
	&:hover {
		text-decoration: none!important;
	}
}
.content {
	padding: 7rem 0;
}
h2 {
	font-size: 20px;
}

.content {
	.bg {
		@include media-breakpoint-down(md) {
			height: 500px;
		}
	}
	.contents, .bg {
		width: 50%;
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
		.form-group	{
			overflow: hidden;
			margin-bottom: 0;
			// border: 1px solid #efefef;
			padding: 15px 15px;
			border-bottom: none;
			position: relative;
			background: #edf2f5;
			border-bottom: 1px solid darken(#edf2f5, 2%);
			
			input {
				background: transparent;
			}

			&.first {
				border-top-left-radius: 7px;
				border-top-right-radius: 7px;
			}
			&.last {
				// border-bottom: 1px solid #efefef;
				border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;
			}
			label {
				font-size: 12px;
				display: block;
				margin-bottom: 0;
				color: darken(#ccc, 10%);
				
			}
			&.focus {
				background: $white;
			}
			&.field--not-empty {
				label {
					margin-top: -20px;
					display: none;
				}
			}
		}
		.form-control {
			border: none;
			padding: 0;
			font-size: 20px;
			border-radius: 0;
			&:active, &:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}
	.bg {
		background-size: cover;
		background-position: center;
	}
	a {
		color: #888;
		text-decoration: underline;
	}
	.btn {
		height: 54px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.forgot-pass {
		position: relative;
		top: 2px;
		font-size: 14px;
	}
}
.form-submit {
    text-align: right;
    padding-top: 27px;
}
