<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">

                                <h3>Registration</h3>
                            </div>
                            <form [formGroup]="registration" (ngSubmit)="onSubmit()" action="#" method="post">

                                <div class="form-group first">
                                    <label for="first-name"><span class="em">*</span>First Name: </label>
                                    <input id="first-name" type="text" formControlName="firstName" class="form-control">
                                    <div class="em">
                        <div *ngIf="registration.get('firstName')?.errors?.required  && registration.get('firstName').dirty">
                          First name is required
                        </div>
                        <div *ngIf="registration.get('firstName')?.errors?.pattern  && registration.get('firstName').dirty">
                          Invalid first name
                        </div>
                        <div
                          *ngIf="(registration.get('firstName')?.errors?.minlength || registration.get('firstName')?.errors?.maxlength) && registration.get('firstName').dirty">
                          First name should contain manimum 2 and maximum 100 charactor
                        </div>
                      </div>
                                </div>

                                <div class="form-group">
                                    <label for="last-name">Last Name: </label>
                                    <input id="last-name" type="text" formControlName="lastName" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="email">Email: </label>
                                    <input id="email" type="text" formControlName="email" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="phone">Phone: </label>
                                    <input id="phone" type="text" formControlName="phone" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password: </label>
                                    <input id="password" type="text" formControlName="password" class="form-control">
                                </div>

                                <div class="form-group last mb-4">
                                    <label for="confirmPassword"> Confirm Password: </label>
                                    <input id="confirmPassword" type="text" formControlName="confirmPassword"
                                        class="form-control">
                                </div>

                                <div class="form-submit">
                                    <button type="submit" [disabled]="!registration.valid"
                                        class="btn btn-block btn-primary">Submit</button>
                                        <button type="reset" [disabled]="!registration.valid"
                                        class="btn btn-block btn-primary">Reset</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>