<!--<h1>App</h1>
<a href="/">Home</a> <br>
<a href="/registration">registration</a>-->

<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Application</h3>
        <a href="/">Home</a> <br>
        <a href="/registration">registration</a> <br>
        <a href="/exp">exp</a>
      </div>
    </ng-template>
  </ngb-carousel>

<router-outlet></router-outlet>
