<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <ng-container *ngIf="!loading && !showError">
                                <div class="mt-3" [formGroup]="updateForm">
                                    <div class="form-group">
                                        <label>Name<sup class="text-danger ml-1">*</sup></label>
                                        <input type="text" class="form-control" placeholder="Name" formControlName="name">
                                      </div>
                                </div>
                                
                            </ng-container>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>