<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <form>
                                <input [class.error]=”isValidationError”/>
                                <p class="errorText" *ngIf=isValidationError>
                                   {{validationError}}
                                </p>
                                <button (click)="submitForm()">Submit</button>
                             </form> 
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>